/* 重置 */
*{margin: 0;padding: 0;}
li{list-style: none;}
a,u,del,s{text-decoration: none;}
em,i{font-style: normal;}
b,strong{font-weight: normal;}
img{display: block;}
a img{border: 0;}
input,textarea{outline: 0;}
.over{overflow: hidden;zoom: 1;}
.wnqc::after{content: ''; display: block; width: 0; height: 0; visibility: hidden;clear: both;}
html,body{width: 100%;height: 100%;}
::-webkit-scrollbar{display: none;}
body{display: flex; flex-direction: column;}

