/* 重置 */
*{margin: 0;padding: 0;}
li{list-style: none;}
a,u,del,s{text-decoration: none;}
em,i{font-style: normal;}
b,strong{font-weight: normal;}
img{display: block;}
a img{border: 0;}
input,textarea{outline: 0;}
.over{overflow: hidden;zoom: 1;}
.wnqc::after{content: ''; display: block; width: 0; height: 0; visibility: hidden;clear: both;}
/*html,body{width: 100%;height: 100%;}*/
::-webkit-scrollbar{display: none;}
body{display: flex; flex-direction: column;background: #EBEBEB;}



footer{
    height: 0.98rem;
    display: flex;
    color: #666;
    position: fixed;
    bottom: 0;
    width: 7.5rem;
    background: white;
    padding-bottom: 0.2rem;
}

footer div{
    flex: 1;
    display: flex;
    border-top: 0.01rem solid #d3d3d3;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.44rem;
}

footer div p{
    position: absolute;
    bottom: 0;
    font-size: 0.18rem;
}

.current{
    color: #2cafff;
}