header{
    /*height: 1.38rem;*/
    display: flex;

    flex-direction: column;
    position: relative;
}

header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 0.01rem solid #000;*/
    margin-left: 0.22rem;
    margin-top: 0.42rem;
}

header h1{
    font-size: 0.48rem;
}

header .header-top > div{
    display: flex;
    width: 1.6rem;
    justify-content: space-between;
    margin-right:0.25rem ;
}
header .header-top > div span{
    font-size: 0.66rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.01rem solid #666;
    position: relative;
    background: #646464;
}


.icon-email:before {
    color: white;
    bottom: -0.115rem;
    left: -0.03rem;
    position: absolute;
    display: block;
    content: "\e676";
}


header .header-top > div img{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.01rem solid #666;
}


header .header-menu{
    margin-left: 0.22rem;
    height: 0.96rem;
    margin-top: 0.44rem;
    display: flex;
    overflow: scroll;
    margin-bottom: 0.86rem;
}

.header-menu-item{
    flex: 1;
    margin-right: 0.2rem;
}

.header-menu-item > div{
    width: 6.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-menu-item > div img{
    width: 1.26rem;
    height: 0.94rem;
    border-radius: 0.05rem;
    margin-right: 0.2rem;
    background: #55a532;
}

.header-menu-item > div > div{
    display: flex;
    flex-direction: column;
}
.header-menu-item > div > div b{
    font-size: 0.18rem;
    color: #419ef3;
}
.header-menu-item > div > div p{
    font-size: 0.26rem;

}
.header-menu-item > div > div span{
    font-size: 0.22rem;
    color: #999999;
}

.point{
    width: 7.1rem;
    height: 0.95rem;
    border: 0.01rem solid #999;
    position: absolute;
    left: 50%;
    margin-left: -3.55rem;
    bottom: -0.45rem;
    background: white;
    box-shadow: #999 -0.01rem -0.01rem 0.1rem;

    display: flex;
}

.point p{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.37rem;
}

.point p:nth-child(1)::after{
    content: '';
    width: 0.01rem;
    height: 0.48rem ;
    background: #666666;
    position: relative;
    right: -0.6rem;
}

.point p:nth-child(1) span:nth-child(1){
    color: #fff;
    background: #fe3c70;
    z-index: 999;
    position: relative;
    border-radius: 50%;
    width: 0.38rem;
    height: 0.37rem;
}

.point p:nth-child(1) span:nth-child(2){
    color: #fff;
    background:#fde101;
    z-index: 990;
    position: relative;
    left: -0.2rem;
    border-radius: 50%;
    width: 0.38rem;
    height: 0.37rem;
}

.point img{
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 50%;
    margin-right: 0.2rem;
}



.point p:nth-child(2) i{
    width: 0.56rem;
    height: 0.56rem;
    position: relative;
}

.point p:nth-child(2) i::after{
    content: "";
    border: 0.02rem white solid;
    width: 0.16rem;
    height: 0.16rem;
    background: #07c0f3;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 50%;
}

.bloggers{
    /*height: 7.3rem;*/
    background: white;
    display: flex;
    flex-direction: column;
    padding-inline: 0.22rem;
    border-bottom: 0.01rem solid #666;
}

.bloggers > p{
    display: flex;
    justify-content: space-between;
    margin-top: 0.86rem;
    font-size: 0.3rem;
    margin-bottom: 0.18rem;
}

.bloggers > p span{
    color: #666;
}

.bloggers-content{

}

.bloggers-item{
    height: 1.2rem;
    /*border: 0.01rem solid #000;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bloggers-item img{
    width: 0.68rem;
    height: 0.68rem;
    background: #07c0f3;
    border-radius: 50%;
}

.bloggers-item p{
    width: 4.8rem;
    display: flex;
    flex-direction: column;
}

.bloggers-item .iconfont{
    margin-left: 0.1rem;
    color: orange;
}

.bloggers-item p b{
    font-size: 0.28rem;
}

.bloggers-item p i{
    font-size: 0.22rem;
    color: #666;
}

.bloggers-item > b{
    width: 1.28rem;
    height: 0.64rem;
    background: #f6f6f6 ;
    color: #0084ff;
    font-size: 0.25rem;
    line-height: 0.64rem;
    text-align: center;
    border-radius: 0.32rem;
}

.bloggers-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}

.bloggers-btn div{
    width: 2.78rem;
    height: 0.56rem;
    border: 0.02rem solid #0084ff;
    color: #0084ff;
    border-radius: 0.06rem;
    font-size: 0.22rem;
    line-height: 0.56rem;
    text-align: center;
}

.bloggers-btn  div:nth-child(2){
    background: #0084ff;
}

.bloggers-btn  div:nth-child(2) a{
    color: #ffffff;
}

.bloggers-btn  div a{
    color: #0084ff;
}

.content{
    height: 500px;
    padding-inline: 22px;
    display: flex;
    flex-direction: column;
    border-bottom: 40px;
}

.content-item{
    display: flex;
    flex-direction: column;
}

.content-item-top{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
}

.content-item-top img{
    width: 68px;
    height: 68px;
    background: #07c0f3;
    border-radius: 50px;
}
.content-item-top p{
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.content-item-top p b{
    font-size: 24px;
    color: #666;
}

.content-item-top strong{
    width: 1.28rem;
    height: 0.64rem;
    background: #f6f6f6 ;
    color: #0084ff;
    font-size: 0.25rem;
    line-height: 0.64rem;
    text-align: center;
    border-radius: 0.32rem;

}
.content-item-top span{
    font-size: 30px;
    color: #666;
}

.content-center{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 18px;
    width: 370px;
}

.content-center a{
    color: #0084ff;
}

.content-item > img{
    width: 264px;
    height: 366px;
    margin-left: 100px;
    background: #07c0f3;
}

.edit{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: #0084ff;
    box-shadow: #666666 1px 1px 10px;
    position: fixed;
    bottom: 140px;
    right: 22px;
    font-size: 60px;
    color: #fff;
}

.icon-bianji1:before {
    position: fixed;
    bottom: 150px;
    right: 37px;
    content: "\e680";
}
