header{
    /*height: 1.38rem;*/
    display: flex;

    flex-direction: column;
    position: relative;
}

header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 0.01rem solid #000;*/
    margin-left: 0.22rem;
    margin-top: 0.42rem;
}

header h1{
    font-size: 0.48rem;
}

header .header-top > div{
    display: flex;
    width: 1.6rem;
    justify-content: space-between;
    margin-right:0.25rem ;
}
header .header-top > div span{
    font-size: 0.66rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.01rem solid #666;
    position: relative;
    background: #646464;
}


.icon-email:before {
    color: white;
    bottom: -0.115rem;
    left: -0.03rem;
    position: absolute;
    display: block;
    content: "\e676";
}


header .header-top > div img{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.01rem solid #666;
}


header .header-menu{
    margin-left: 0.22rem;
    height: 0.96rem;
    margin-top: 0.44rem;
    display: flex;
    overflow: scroll;
    margin-bottom: 0.86rem;
}

.header-menu-item{
    flex: 1;
    margin-right: 0.2rem;
}

.header-menu-item > div{
    width: 6.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-menu-item > div img{
    width: 1.26rem;
    height: 0.94rem;
    border-radius: 0.05rem;
    margin-right: 0.2rem;
    background: #55a532;
}

.header-menu-item > div > div{
    display: flex;
    flex-direction: column;
}
.header-menu-item > div > div b{
    font-size: 0.18rem;
    color: #419ef3;
}
.header-menu-item > div > div p{
    font-size: 0.26rem;

}
.header-menu-item > div > div span{
    font-size: 0.22rem;
    color: #999999;
}

.point{
    width: 7.1rem;
    height: 0.95rem;
    border: 0.01rem solid #999;
    position: absolute;
    left: 50%;
    margin-left: -3.55rem;
    bottom: -0.45rem;
    background: white;
    box-shadow: #999 -0.01rem -0.01rem 0.1rem;

    display: flex;
}

.point p{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.37rem;
}

.point p:nth-child(1)::after{
    content: '';
    width: 0.01rem;
    height: 0.48rem ;
    background: #666666;
    position: relative;
    right: -0.6rem;
}

.point p:nth-child(1) span:nth-child(1){
    color: #fff;
    background: #fe3c70;
    z-index: 999;
    position: relative;
    border-radius: 50%;
    width: 0.38rem;
    height: 0.37rem;
}

.point p:nth-child(1) span:nth-child(2){
    color: #fff;
    background:#fde101;
    z-index: 990;
    position: relative;
    left: -0.2rem;
    border-radius: 50%;
    width: 0.38rem;
    height: 0.37rem;
}

.point img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 20px;
}



.point p:nth-child(2) i{
    width: 56px;
    height: 56px;
    position: relative;
}

.point p:nth-child(2) i::after{
    content: "";
    border: 2px white solid;
    width: 16px;
    height: 16px;
    background: #07c0f3;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 50%;
}

.bloggers{
    height: 7.3rem;
    background: white;
}